<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>上海开源库</key>
	<dict>
		<key>纬度</key>
		<real>31.368852</real>
		<key>经度</key>
		<real>121.445453</real>
	</dict>
	<key>宝钢小额站坯料库</key>
	<dict>
		<key>纬度</key>
		<real>31.374964</real>
		<key>经度</key>
		<real>121.453857</real>
	</dict>
</dict>
</plist>
